/* This ensures the entire viewport height is taken by the container */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  height: 100%;  /* take the full height of its parent */
  display: flex;  /* activate flexbox */
  flex-direction: column;  /* elements are stacked vertically */
}

/* This will be the container for your graphs */
.chartContainer {
  display: flex;  /* activate flexbox */
  height: 50%;    /* take up half the screen height */
  width: 100%;    /* take up the full width of its parent */
  justify-content: space-between;  /* space out the child elements */
  align-items: center;  /* center the child items vertically */
}

/* This ensures each chart takes up an even amount of space */
.chartContainer > div {
  flex: 1;  /* all children take up an equal width */
  padding: 0 10px;  /* some padding to avoid the charts sticking together */
}
.chartWrapper {
  width: 33%;  /* Ensures each graph takes up 1/3 of the container's width */
  padding: 0 10px;  /* some spacing around each chart */
}
.price-control,
.hint-section,
.signals-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;  /* each section takes up a quarter of the width */
  padding: 60px;
}

.price-display {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.signals-section div {
  display: flex;
  align-items: center;
}

.signals-section span {
  font-size: 2rem;
  margin-right: 10px;
}
.hintDisplay {
  /* Add your styles here */
  display: block; /* or however you want to display it */
}